* {
  font-family: var(--main-font);
  color: var(--main-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e4eaf2;
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

header {
  background-color: #1f1f1f;
}

.header__svg-wrapper {
  width: 40px;
  height: 40px;
}

.header__logo-icon {
  width: 40px;
  height: 40px;
}

.header__logo {
  font-family: --main-font;
  font-size: 40px;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 1;
}

.header__city {
  font-size: 28px;
  color: white;
  margin: 0;
  padding: 0;
}

.header__form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header__form {
  display: flex;
  box-sizing: border-box;
}

.header__form__input-wrapper {
  display: block;
  position: relative;
}

.header__form__input {
  padding-left: 16px;
  font-size: 16px;
  margin: 0;
  padding: 5px 5px 5px 25px;
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.form__input-icon {
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  width: 14px;
  height: 14px;
}

.header__form__btn-submit {
  margin: 0;
  padding: 5px;
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  transition: all 0.3s ease;
}

.header__form__btn-submit {
  cursor: pointer;
  text-align: center;
}
.header__form__btn-submit:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.header__form__btn-submit:active {
  background-color: #333;
}

.nav {
  padding: 5px;
}

.nav__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.nav__item:hover {
  transform: scale(1.05);
  color: #007bff;
}

.box {
  width: 50%;
}

.cards__div {
  background-color: white;
  border: 2px solid none;
  border-radius: 10px;
  padding: 15px;
  list-style-type: none;
}

.cards__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cards__title__button--delete {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s, color 0.3s;
}

.cards__title__icon {
  width: 12px;
  height: 12px;
  transition: transform 0.3s, color 0.3s;
  fill: red;
}

.cards__title__button--delete:hover .cards__title__icon {
  transform: scale(1.2);
}

.content-wrapper {
  display: flex;
  width: 100%;
}

.content-wrapper__left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 50%;
}

.cards__condition-icon {
  width: 80px;
}

.content-wrapper__left__text {
  display: flex;
  flex-direction: column;
}

.content-wrapper__right {
  display: flex;
  align-items: center;
  width: 100%;
}

.cards__wind,
.temperature-feels {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  display: flex;
  margin-bottom: 0.5em;
}

.cards__wind::before,
.temperature-feels::before {
  content: "";
  border-bottom: 1px solid #ccc;
  flex-grow: 1;
  order: 2;
  margin: 0 3px;
}

.cards__wind__right,
.temperature-feels__right {
  order: 3;
}

.cards__button {
  margin: 0;
  padding: 5px;
  outline: none;
  border: 2px solid var(--main-color);
  border-radius: 10px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}
.cards__button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.cards__button:active {
  background-color: var(--secondary-color);
}

.cards__additionally {
  width: 75%;
}

.is-hidden {
  display: none;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.container--header {
  display: flex;
  align-items: flex-end;
  padding: 20px 20px;
  margin-bottom: 0;
}

.container--nav {
  padding: 10px 20px;
}/*# sourceMappingURL=main.css.map */