* {
	font-family: var(--main-font);
	color: var(--main-color);
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #e4eaf2;
	margin: 0;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	// scrollbar-gutter: stable;

	&::-webkit-scrollbar {
		width: 0.4rem;
		&-thumb {
			background-color: transparent;
			border-radius: 4px;
		}
	}
	&::-moz-scrollbar {
		width: 0.4rem;
		&-thumb {
			background-color: transparent;
			border-radius: 4px;
		}
	}
}
.overflow-auto:hover {
	&::-webkit-scrollbar-thumb {
		background-color: #ccc;
	}
	&::-moz-scrollbar-thumb {
		background-color: #ccc;
	}
}

ol,
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

img {
	display: block;
}

a {
	text-decoration: none;
}
