.container {
	max-width: 960px;
	margin: 0 auto;
}

.container--header {
	display: flex;
	align-items: flex-end;
	padding: 20px 20px;
	margin-bottom: 0;
}

.container--nav {
	padding: 10px 20px;
}

.container--content {
	display: flex;
	justify-content: space-between;
}
