header {
	background-color: #1f1f1f;
}
.logo-wrapper {
	display: flex;
}

.header__svg-wrapper {
	width: 40px;
	height: 40px;
}

.header__logo-icon {
	width: 40px;
	height: 40px;
}

.header__logo {
	font-family: --main-font;
	font-size: 40px;
	color: white;
	margin: 0;
	padding: 0;
	line-height: 1;
}

.header__city {
	font-size: 28px;
	color: white;
	margin: 0;
	padding: 0;
}

.header__form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header__form {
	display: flex;
	box-sizing: border-box;
	margin-left: auto;
}

.header__form__input-wrapper {
	display: block;
	position: relative;
	margin-right: 30px;
}

.header__form__input {
	padding-left: 16px;
	font-size: 16px;
	margin: 0;
	padding: 5px 5px 5px 25px;
	outline: none;
	border: 2px solid var(--main-color);
	border-radius: 10px;
	transition: all 0.3s ease;
}
.form__input-icon {
	left: 8px;
	top: 50%;
	transform: translateY(-50%);
	position: absolute;
	width: 14px;
	height: 14px;
}

.header__form__btn-submit {
	margin: 0;
	padding: 5px;
	outline: none;
	border: 2px solid var(--main-color);
	border-radius: 10px;
	transition: all 0.3s ease;
}

.header__form__btn-submit {
	background-color: #ff5733;
	border: none;
	color: white;

	font-size: 14px;
	font-weight: bold;
	border-radius: 25px;
	cursor: pointer;
	transition: all 0.3s ease;

	text-align: center;
	width: 100px;
	&:hover {
		transform: scale(1.05);
		box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
	}

	&:active {
		background-color: #333;
	}
}
